.background-container {
    top: 0;
    right: 0;
    position: absolute;
    z-index: -100;
}

.background-container svg {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.st0 {
    fill: #795548;
}
.st1 {
    fill: #3ba0b9;
}
.st2 {
    fill: #00559d;
}
.st3 {
    fill: #005191;
}
.st4 {
    fill: #1580a6;
}
.st5 {
    fill: #137ba1;
}
.st6 {
    fill: #d5f2f2;
}
.st7 {
    fill: #408c6d;
}
.st8 {
    fill: #66c590;
}
.st9 {
    fill: #5bbd84;
}
.st10 {
    fill: none;
    stroke: #e2e88a;
    stroke-miterlimit: 10;
}
.st11 {
    fill: #7b685c;
}
.st12 {
    clip-path: url(#SVGID_2_);
}
.st13 {
    fill: none;
    stroke: #a78066;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st14 {
    clip-path: url(#SVGID_2_);
    fill: none;
    stroke: #a78066;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st15 {
    fill: #5fdbb7;
}
.st16 {
    fill: #5bccb1;
}
.st17 {
    clip-path: url(#SVGID_4_);
}
.st18 {
    fill: #9ecfeb;
}
.st19 {
    fill: none;
    stroke: #37395e;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st20 {
    fill: none;
    stroke: #cce2ff;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st21 {
    fill: #a78066;
}
.st22 {
    fill: #9c775f;
}
.st23 {
    fill: #37395e;
}
.st24 {
    fill: #735846;
}
.st25 {
    fill: #ba8f72;
}
.st26 {
    fill: none;
    stroke: #a78066;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st27 {
    fill: none;
    stroke: #ba8f72;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st28 {
    fill: #cfc9c3;
}
.st29 {
    fill: #e0dad3;
}
.st30 {
    fill: #b8b3ad;
}
.st31 {
    fill: #3592ab;
}
.st32 {
    fill: none;
    stroke: #4499b8;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st33 {
    fill: #76c976;
}
.st34 {
    fill: #f1f793;
}
.st35 {
    fill: #e2e88a;
}
.st36 {
    fill: none;
    stroke: #f1f793;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st37 {
    opacity: 0.35;
    fill: url(#SVGID_5_);
}
.st38 {
    fill: #997159;
}
.st39 {
    fill: none;
    stroke: #a78066;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st40 {
    fill: #916b55;
}
.st41 {
    fill: #ec9034;
}
.st42 {
    fill: #ec7b34;
}
.st43 {
    fill: #eca934;
}
.st44 {
    fill: #e6e6e6;
}
.st45 {
    fill: none;
    stroke: #ffadc1;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st46 {
    clip-path: url(#SVGID_7_);
    fill: none;
    stroke: #b3896d;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st47 {
    fill: none;
    stroke: #916b55;
    stroke-miterlimit: 10;
}
.st48 {
    clip-path: url(#SVGID_9_);
    fill: none;
    stroke: #b3896d;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st49 {
    fill: none;
    stroke: #f1f793;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st50 {
    fill: none;
    stroke: #eca934;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st51 {
    fill: #f8ffc5;
}
.st52 {
    clip-path: url(#SVGID_11_);
    fill: none;
    stroke: #b3896d;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st53 {
    fill: none;
    stroke: #1580a6;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st54 {
    fill: #ec5c5c;
}
.st55 {
    fill: none;
    stroke: #c44d4d;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st56 {
    fill: none;
    stroke: #eca934;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st57 {
    fill: #d65353;
}
.st58 {
    fill: #efc7b0;
}
.st59 {
    fill: #de5656;
}
.st60 {
    fill: #d6b29d;
}
.st61 {
    fill: #8a6551;
}
.st62 {
    fill: #bd885c;
}
.st63 {
    fill: #f2b1a5;
}
.st64 {
    fill: #bd9b7d;
}
.st65 {
    fill: #423127;
}
.st66 {
    fill: none;
    stroke: #ff6b6b;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st67 {
    fill: #e6aa9f;
}
.st68 {
    fill: #ffadb2;
}
.st69 {
    fill: none;
    stroke: #ffadb2;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st70 {
    fill: #e69ca0;
}
.st71 {
    fill: #93c1db;
}
.st72 {
    fill: #77bae0;
}
.st73 {
    fill: #2e304f;
}
.st74 {
    fill: none;
    stroke: #c44d4d;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st75 {
    fill: none;
    stroke: #8a6551;
    stroke-width: 0.75;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st76 {
    fill: #f1e193;
}
.st77 {
    fill: none;
    stroke: #f8ffc5;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st78 {
    clip-path: url(#SVGID_13_);
}
.st79 {
    clip-path: url(#SVGID_13_);
    fill: none;
    stroke: #a78066;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st80 {
    clip-path: url(#SVGID_15_);
}
.st81 {
    opacity: 0.35;
    fill: url(#SVGID_16_);
}
.st82 {
    clip-path: url(#SVGID_18_);
    fill: none;
    stroke: #b3896d;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st83 {
    clip-path: url(#SVGID_20_);
    fill: none;
    stroke: #b3896d;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
.st84 {
    clip-path: url(#SVGID_22_);
    fill: none;
    stroke: #b3896d;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
