.space-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(7, 6, 20);
    background: linear-gradient(
        5deg,
        rgba(7, 6, 20, 1) 5%,
        rgba(16, 25, 60, 1) 35%,
        rgba(10, 75, 59, 1) 50%,
        rgba(16, 25, 60, 1) 65%,
        rgba(7, 6, 20, 1) 95%
    );
    overflow: hidden;
    z-index: -10;
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    transition: 200ms ease-in;
}
